h1 {
  color: #5D90FD;
  font-size: 50px;
  display: flex; 
  align-items: center; 
  gap: 10px; 
}

html {
  background-color: #181d28;
  color: #B3CBFF;
  font-size: 10px;
  font-family: 
    "Prompt", serif; 
}

p,
li {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 1px;
}

label {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
}

form ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

form li {
  display: inline-block;
  margin-right: 10px;
}